.task-list {
    text-align: center;
}

.form-task {
    width: 17rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.418);
    text-align: center;
    padding: 2rem 2rem;
    margin-top: 40px;
}

.task-title {
    margin-bottom: 10px;
}

.input-checkbox {
    text-align: left;
}

.input-checkbox input {
    margin-left: 10px;
}

.button-flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media(min-width: 768px) {
    .form-task {
        width: 20rem;
    }
}